@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

  .centro__boton__link {
    background-color: #235076;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-flex;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
  }