@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    padding: 0;
    margin:0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #1D5D9B;
    color: #f8f7f3 ;
}

input {
    background-color: #ffffff !important;
    height: 1.5em !important
}

label {    
    font-size: 1rem !important;    
}

textarea {
    background-color: #ffffff !important;
    
}

.header{
    padding: 0% 9% 0% 7%;
}

.header__encabezado{
    padding: 3.5% 0% 0% 5%;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.IMcentro__informacion{
    padding: 6% 0% 4% 22%;
    display: grid;
    grid-template-columns: 25% 25%;
    gap: 15px;
    text-align: center;
}

.IMboton{
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.IMcentro__boton{    
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;    
}
.IMcentro__boton__link{
    background-color:#235076;
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 10px; 
    display: inline-flex;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

