@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-image: url('/public/assets/pexels-fmaderebner-623919.jpg');
  background-size: cover;
  color: #F4D160;
}

.acceso {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.acceso__intro {
  padding: 50% 0% 0% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acceso__intro__datos {
  background: rgba(26, 35, 126, 0.8);
}

.acceso__boton {
  padding: 5% 0% 0% 0%;
}

