@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #1D5D9B;
  color: #FBEEAC;
}

.Tcentro {
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.Tcentro__busqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0 15px 0;
}

.Tcentro__busqueda__entrada {
  width: 230px !important;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

.Tcentro__boton__link {
    background-color: #235076;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-flex;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
  }

.Tcentro__boton__link:hover {
  background-color: #1b3f5d;
}

.Tcentro__informacion {
  display: grid;
  grid-template-columns: 25% 25%;
  padding: 0 0 3% 33%;
  gap: 15px;
  margin-top: 30px;
}

.Tcentro__informacion__etiqueta {
  background-color: #f2f8f8;
  text-align: center;  
  border-radius: 5px;
  width: 200px !important;
}

