@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;

}

label {
  font-size: 1.5rem !important;
  color: white 
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #1D5D9B;
  color: #fafaf7;
}



.venta__mostrar {
  padding: 1% 0% 0% 55%;
  display: grid;
  grid-template-columns: 25% 40%;
  grid-row: 25%;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  gap: 30px;
  text-align: center;
}

.centro__boton {
  padding: 0.3% 10% 0% 0%;
  display: flex;
  float: right;
  
  text-align: center;
  justify-content: center;
}




.lista_label{
 margin: 40px 0px 0px 0px;
 padding-left: 30px;
 display: flex;
 justify-content: space-around;
 
}

.venta__input__dato{
  text-align: right;
  

}



.venta__form__fila {
  display: flex;
  gap: 10%;
  padding: 0 25% 2% 8%;
   
}



.venta__datos {
  margin: 0% 5% 3.4% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 315px; 
  color: white;
  overflow-y: auto; 
  border: 1px solid #142b87; 
  margin-top: 20px; 
  padding: 0% 2% 19%; 
  background-color: #1D5D9B; 
   
}

.venta__datos__header {
  font-weight: bold;
  color: #eeeff1;
  font-size: medium;
  
}

.venta__datos__fila {
  display: flex;
  width: 100%;
  justify-content: space-around;
  
  gap: 30px;
  
}



.venta__datos__caja {
  display: flex;
  width: 50%;
  justify-content: space-around; 
  font-size: 16px;
  border: #898888 2px solid;
  color: black;
}

