@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;

}

label {
  font-size: 1.5rem !important;
  color: white 
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #1D5D9B;
  color: #fafaf7;
}

.header {
  padding: 0% 9% 0% 7%;
}

.header__encabezado {
  padding: 3.5% 0% 0% 9%;
  height: 50px;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.venta__mostrar {
  padding: 1% 0% 0% 55%;
  display: grid;
  grid-template-columns: 25% 40%;
  grid-row: 25%;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  gap: 30px;
  text-align: center;
}

.centro__boton {
  padding: 0.3% 10% 0% 0%;
  display: flex;
  float: right;
  
  text-align: center;
  justify-content: center;
}

.centro__boton__link {
  background-color: #235076;
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 10px;
  display: inline-flex;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
}


.lista_label{
 margin: 15px 0px 0px 0px;
 padding-left: 10px;
 display: flex;
 justify-content: space-around;
 text-align: center;
 

}

.venta__input__dato{
  text-align: right;
  

}



.venta__form__fila {
  display: flex;
  gap: 10%;
  padding: 0 25% 0% 8%;
   
}



.venta__datos {
  margin: 0% 5% 1.8% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 350px; /* Limita la altura visible de la tabla */
  color: white;
  overflow-y: auto; /* Agrega scroll vertical para los datos */
  border: 1px solid #142b87; /* Opcional: borde para delimitar la sección */
  margin-top: 20px; /* Espaciado superior */
  padding: 0% 2% 19%; /* Quita el padding para que el diseño sea limpio */
  background-color: #1D5D9B; /* Color de fondo */
   
}

.venta__datos__header {
  font-weight: bold;
  color: #eeeff1;
  font-size: medium;
  
}

.venta__datos__fila {
  display: flex;
  justify-content: space-around;
  text-align: right;
  border-bottom: 1px solid #ccc;
  gap: 10px;
  
}



.venta__datos__caja {
  display: flex;
  align-items: right;
  text-align: center;
  font-size: 16px;
  gap: 10px;
  border: #000000 1px solid;
}
.footer {
  
  color: #000000;
  background-color: #22D4FD;
  padding: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
